<div class="areas">
    <div>{{ node.field_nombre.value }}</div>
    <div>{{ node.field_descripcion.value }}</div>



</div>

{#  {{ fields.field_nombre.content }}   #}

   {#  {{ fields.field_pagina.content }}  #}
