<div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-4 Titulos-noticias">
            <img src="{{ base_path ~ directory }}/img/labunam.png">

        </div>
        <div class="col-md-4 Titulos-noticias">
            <img src="{{ base_path ~ directory }}/img/numeralia-unam.jpg">

        </div>
        <div class="col-md-4 Titulos-noticias">
            <img src="{{ base_path ~ directory }}/img/pag-rector.jpg">

        </div>
    </div>
</div><!-- /.container -->
