<div class="container">
   <center> <h1>Divulgacion</center>

    <p class="text-justify">La Unidad de Divulgación y Vinculación del CCM tiene por objetivo acercar las matemáticas a
        personas fuera de nuestro centro de investigación. Para lograr esto su personal académico desarrolla y participa en
        distintos proyectos de divulgación de las matemáticas, desde actividades cuya finalidad sea compartir con público
        general algún tema de matemáticas básicas desde un punto de vista lúdico, hasta el establecimiento de vínculos con
        otras instituciones que se refleje en un beneficio mutuo en el que el CCM ofrece su conocimiento y experiencia de
        sus distintas áreas de investigación.
    </p>
</div>