<div class="container">
    <div class="page-header"></div>

    <div class="row">
        <div class="col-md-4 Titulos-noticias">
            <img src="{{ base_path ~ directory }}/img/banner-noticias1.png">

            <span class="text-center"><h3>Unidad de Docencia</h3></span>

        </div>
        <div class="col-md-4 Titulos-noticias">
            <img src="{{ base_path ~ directory }}/img/banner-noticias2.png">
            <span class="text-center"><h3>Unidad de Documentación</h3></span>

        </div>
        <div class="col-md-4 Titulos-noticias">
            <img src="{{ base_path ~ directory }}/img/banner-noticias3.png">
            <span class="text-center"><h3>Unidad de Divulgación</h3></span>
        </div>
    </div>

</div><!-- /.container -->