<div class="container-fluid footer">
    <div class="container footer-content">
        <h1></h1>
        <span class="text-center">
            <h3><small>Centro de Ciencias Matemáticas UNAM sssCampus Morelia</small></h3>
        </span>
        <div class="text-center">
            <img alt="footer" src="{{ base_path ~ directory }}/img/logos-footer-unam.png" class="logo-footer">
            <img alt="footer" src="{{ base_path ~ directory }}/img/logos-footer-unam2.png" class="logo-footer">
            <img alt="footer" src="{{ base_path ~ directory }}/img/logos-footer-ccm.png" class="logo-footer">
        </div>
    </div>
</div>