<div class="container">

    <div class="page-header"></div>

    <div class="row">
        <div class="col-md-4">
            <img src="img/banner-noticias1.png">
            <span class="text-center"><h3>Coordinación de</h3></span>
            <span class="text-center"><h3>ESTUDIOS DE POSGRADO</h3></span>
        </div>
        <div class="col-md-4">
            <img src="img/banner-noticias2.png">
            <span class="text-center"><h3>Centro de Ciencias</h3></span>
            <span class="text-center"><h3>MATEMÁTICAS UNAM</h3></span>
        </div>
        <div class="col-md-4">
            <img src="img/banner-noticias3.png">
            <span class="text-center"><h3>Posgrado Conjunto</h3></span>
            <span class="text-center"><h3>EN CIENCIAS MATEMÁTICAS</h3></span>
        </div>
    </div>

</div><!-- /.container -->